<div class="subheader py-2 subheader-solid" id="kt_subheader">
    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <div class="d-flex align-items-center flex-wrap mr-2">
            <a href="/" class="bg-hover-white text-hover-primary text-dark font-size-h5 font-weight-bold mt-2 mb-2 mr-5">SurePORTAL</a>
            <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>         
            <a href="@Url.Action(Constant.Action.Index, Constant.Controller.Menu,new { })"
               class="bg-hover-white text-hover-primary text-dark font-size-h5 font-weight-bold mt-2 mb-2 mr-5">
                Quản lý menu
            </a>
            <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
            <span class="text-muted font-weight-bold mr-4">Danh sách</span>
        </div>
    </div>
</div>

