<div class="footer bg-white py-4 d-flex flex-lg-column" id="kt_footer">
    <div class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between">
        <div class="text-dark order-2 order-md-1">
            <span class="text-muted font-weight-bold mr-2">Copyright ©2020 SurePORTAL. Designed with <i class="fas fa-heart font-size-sm text-danger mx-1"></i> by</span>
            <a href="http://lacviet.vn" target="_blank" class="text-dark-75 text-hover-primary">LAC VIET</a>
        </div>
    </div>
</div>