<div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
    <div id="kt_header_menu" class="header-menu header-menu-mobile header-menu-layout-default">
        <ul class="menu-nav">
            <li class="menu-item menu-item-open menu-item-here menu-item-submenu menu-item-rel menu-item-open menu-item-here menu-item-active" data-menu-toggle="click" aria-haspopup="true">
                <a href="javascript:;" class="menu-link menu-toggle1 bg-danger">
                    <i class="fas fa-home text-white"></i>
                </a>
            </li>
            <li class="menu-item menu-item-submenu" data-menu-toggle="click" aria-haspopup="true">
                <a href="javascript:;" class="menu-link menu-toggle">
                    <span class="menu-text font-size-lg text-dark text-uppercase">Trình ký điện tử</span>
                </a>
                <div class="menu-submenu menu-submenu-fixed menu-submenu-left" style="width:1000px">
                    <div class="menu-subnav">
                        <ul class="menu-content">
                            <li class="menu-item">
                                <h3 class="menu-heading menu-toggle">
                                    <span class="menu-text">Qui trình</span>
                                </h3>
                                <ul class="menu-inner">
                                    <li class="menu-item" aria-haspopup="true">
                                        <a href="javascript:;" class="menu-link">
                                            <span class="menu-icon"><i class="fas fa-align-left"></i></span>
                                            <span class="menu-text">Tất cả</span>
                                        </a>
                                    </li>
                                    <li class="menu-item" aria-haspopup="true">
                                        <a href="javascript:;" class="menu-link">
                                            <span class="menu-icon"><i class="fas fa-user-edit"></i></span>
                                            <span class="menu-text">Chờ tôi ký</span>
                                        </a>
                                    </li>
                                    <li class="menu-item" aria-haspopup="true">
                                        <a href="javascript:;" class="menu-link">
                                            <span class="menu-icon"><i class="fas fa-signature"></i></span>
                                            <span class="menu-text">Đang xử lý</span>
                                        </a>
                                    </li>
                                    <li class="menu-item" aria-haspopup="true">
                                        <a href="javascript:;" class="menu-link">
                                            <span class="menu-icon"><i class="fas fa-check"></i></span>
                                            <span class="menu-text">Đã ký</span>
                                        </a>
                                    </li>
                                    <li class="menu-item" aria-haspopup="true">
                                        <a href="javascript:;" class="menu-link">
                                            <span class="menu-icon"><i class="fas fa-reply"></i></span>
                                            <span class="menu-text">Trả lại</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <h3 class="menu-heading menu-toggle">
                                    <span class="menu-text">Danh mục hồ sơ</span>
                                </h3>
                                <ul class="menu-inner">
                                    <li class="menu-item" aria-haspopup="true">
                                        <a href="javascript:;" class="menu-link">
                                            <i class="menu-bullet menu-bullet-line">
                                                <span></span>
                                            </i>
                                            <span class="menu-text">Năm 2020</span>
                                        </a>
                                    </li>
                                    <li class="menu-item" aria-haspopup="true">
                                        <a href="javascript:;" class="menu-link">
                                            <i class="menu-bullet menu-bullet-line">
                                                <span></span>
                                            </i>
                                            <span class="menu-text">Năm 2019</span>
                                        </a>
                                    </li>
                                    <li class="menu-item" aria-haspopup="true">
                                        <a href="javascript:;" class="menu-link">
                                            <i class="menu-bullet menu-bullet-line">
                                                <span></span>
                                            </i>
                                            <span class="menu-text">Tất cả hồ sơ</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <h3 class="menu-heading menu-toggle">
                                    <span class="menu-text">Thống kê</span>
                                </h3>
                                <ul class="menu-inner">
                                    <li class="menu-item" aria-haspopup="true">
                                        <a href="javascript:;" class="menu-link">
                                            <i class="menu-bullet menu-bullet-line">
                                                <span></span>
                                            </i>
                                            <span class="menu-text">Theo danh sách</span>
                                        </a>
                                    </li>
                                    <li class="menu-item" aria-haspopup="true">
                                        <a href="javascript:;" class="menu-link">
                                            <i class="menu-bullet menu-bullet-line">
                                                <span></span>
                                            </i>
                                            <span class="menu-text">Theo đơn vị</span>
                                        </a>
                                    </li>
                                    <li class="menu-item" aria-haspopup="true">
                                        <a href="javascript:;" class="menu-link">
                                            <i class="menu-bullet menu-bullet-line">
                                                <span></span>
                                            </i>
                                            <span class="menu-text">Theo thứ hạn</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="menu-item menu-item-submenu" data-menu-toggle="click" aria-haspopup="true">
                <a href="javascript:;" class="menu-link menu-toggle">
                    <span class="menu-text font-size-lg text-dark text-uppercase">Quản lý văn bản</span>
                </a>
                <div class="menu-submenu menu-submenu-fixed menu-submenu-left" style="width:1000px">
                    <div class="menu-subnav">
                        <ul class="menu-content">
                            <li class="menu-item">
                                <h3 class="menu-heading menu-toggle">
                                    <span class="menu-text">Văn bản</span>
                                </h3>
                                <ul class="menu-inner">
                                    <li class="menu-item" aria-haspopup="true">
                                        <a href="javascript:;" class="menu-link">
                                            <span class="menu-icon"><i class="fas fa-align-left"></i></span>
                                            <span class="menu-text">Tất cả</span>
                                        </a>
                                    </li>
                                    <li class="menu-item" aria-haspopup="true">
                                        <a href="javascript:;" class="menu-link">
                                            <span class="menu-icon"><i class="fas fa-file-alt"></i></span>
                                            <span class="menu-text">Mới</span>
                                        </a>
                                    </li>
                                    <li class="menu-item" aria-haspopup="true">
                                        <a href="javascript:;" class="menu-link">
                                            <span class="menu-icon"><i class="fas fa-pencil-alt"></i></span>
                                            <span class="menu-text">Đang xử lý</span>
                                        </a>
                                    </li>
                                    <li class="menu-item" aria-haspopup="true">
                                        <a href="javascript:;" class="menu-link">
                                            <span class="menu-icon"><i class="fas fa-check"></i></span>
                                            <span class="menu-text">Đã giao</span>
                                        </a>
                                    </li>
                                    <li class="menu-item" aria-haspopup="true">
                                        <a href="javascript:;" class="menu-link">
                                            <span class="menu-icon"><i class="far fa-clock"></i></span>
                                            <span class="menu-text">Quá hạn</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <h3 class="menu-heading menu-toggle">
                                    <span class="menu-text">Lọc văn bản</span>
                                </h3>
                                <ul class="menu-inner">
                                    <li class="menu-item" aria-haspopup="true">
                                        <a href="javascript:;" class="menu-link">
                                            <i class="menu-bullet menu-bullet-line">
                                                <span></span>
                                            </i>
                                            <span class="menu-text">Đi bên ngoài</span>
                                        </a>
                                    </li>
                                    <li class="menu-item" aria-haspopup="true">
                                        <a href="javascript:;" class="menu-link">
                                            <i class="menu-bullet menu-bullet-line">
                                                <span></span>
                                            </i>
                                            <span class="menu-text">Đi nội bộ</span>
                                        </a>
                                    </li>
                                    <li class="menu-item" aria-haspopup="true">
                                        <a href="javascript:;" class="menu-link">
                                            <i class="menu-bullet menu-bullet-line">
                                                <span></span>
                                            </i>
                                            <span class="menu-text">Đến bên ngoài</span>
                                        </a>
                                    </li>
                                    <li class="menu-item" aria-haspopup="true">
                                        <a href="javascript:;" class="menu-link">
                                            <i class="menu-bullet menu-bullet-line">
                                                <span></span>
                                            </i>
                                            <span class="menu-text">Đến nội bộ</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <h3 class="menu-heading menu-toggle">
                                    <span class="menu-text">Liên thông đơn vị</span>
                                </h3>
                                <ul class="menu-inner">
                                    <li class="menu-item" aria-haspopup="true">
                                        <a href="javascript:;" class="menu-link">
                                            <i class="menu-bullet menu-bullet-line">
                                                <span></span>
                                            </i>
                                            <span class="menu-text">Mới</span>
                                        </a>
                                    </li>
                                    <li class="menu-item" aria-haspopup="true">
                                        <a href="javascript:;" class="menu-link">
                                            <i class="menu-bullet menu-bullet-line">
                                                <span></span>
                                            </i>
                                            <span class="menu-text">Đã tiếp nhận</span>
                                        </a>
                                    </li>
                                    <li class="menu-item" aria-haspopup="true">
                                        <a href="javascript:;" class="menu-link">
                                            <i class="menu-bullet menu-bullet-line">
                                                <span></span>
                                            </i>
                                            <span class="menu-text">Không tiếp nhận</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <h3 class="menu-heading menu-toggle">
                                    <span class="menu-text">Hồ sơ cá nhân</span>
                                </h3>
                                <ul class="menu-inner">
                                    <li class="menu-item" aria-haspopup="true">
                                        <a href="javascript:;" class="menu-link">
                                            <i class="menu-bullet menu-bullet-line">
                                                <span></span>
                                            </i>
                                            <span class="menu-text">Tạo mới thư mục</span>
                                        </a>
                                    </li>
                                    <li class="menu-item" aria-haspopup="true">
                                        <a href="javascript:;" class="menu-link">
                                            <i class="menu-bullet menu-bullet-line">
                                                <span></span>
                                            </i>
                                            <span class="menu-text">Quản trị</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="menu-item menu-item-submenu" data-menu-toggle="click" aria-haspopup="true">
                <a href="javascript:;" class="menu-link menu-toggle">
                    <span class="menu-text font-size-lg text-dark text-uppercase">Quản lý công việc</span>
                </a>
                <div class="menu-submenu menu-submenu-fixed menu-submenu-left" style="width:1000px">
                    <div class="menu-subnav">
                        <ul class="menu-content">
                            <li class="menu-item">
                                <h3 class="menu-heading menu-toggle">
                                    <span class="menu-text">Công việc</span>
                                </h3>
                                <ul class="menu-inner">
                                    <li class="menu-item" aria-haspopup="true">
                                        <a href="javascript:;" class="menu-link">
                                            <span class="menu-icon"><i class="fas fa-align-left"></i></span>
                                            <span class="menu-text">Tất cả</span>
                                        </a>
                                    </li>
                                    <li class="menu-item" aria-haspopup="true">
                                        <a href="javascript:;" class="menu-link">
                                            <span class="menu-icon"><i class="far fa-file-alt"></i></span>
                                            <span class="menu-text">Mới</span>
                                        </a>
                                    </li>
                                    <li class="menu-item" aria-haspopup="true">
                                        <a href="javascript:;" class="menu-link">
                                            <span class="menu-icon"><i class="fas fa-file-signature"></i></span>
                                            <span class="menu-text">Đang xử lý</span>
                                        </a>
                                    </li>
                                    <li class="menu-item" aria-haspopup="true">
                                        <a href="javascript:;" class="menu-link">
                                            <span class="menu-icon"><i class="far fa-clock"></i></span>
                                            <span class="menu-text">Quá hạn</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <h3 class="menu-heading menu-toggle">
                                    <span class="menu-text">Thống kê - báo cáo</span>
                                </h3>
                                <ul class="menu-inner">
                                    <li class="menu-item" aria-haspopup="true">
                                        <a href="javascript:;" class="menu-link">
                                            <i class="menu-bullet menu-bullet-line">
                                                <span></span>
                                            </i>
                                            <span class="menu-text">Dự án</span>
                                        </a>
                                    </li>
                                    <li class="menu-item" aria-haspopup="true">
                                        <a href="javascript:;" class="menu-link">
                                            <i class="menu-bullet menu-bullet-line">
                                                <span></span>
                                            </i>
                                            <span class="menu-text">Phòng ban</span>
                                        </a>
                                    </li>
                                    <li class="menu-item" aria-haspopup="true">
                                        <a href="javascript:;" class="menu-link">
                                            <i class="menu-bullet menu-bullet-line">
                                                <span></span>
                                            </i>
                                            <span class="menu-text">Cá nhân</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <h3 class="menu-heading menu-toggle">
                                    <span class="menu-text">Hồ sơ cá nhân</span>
                                </h3>
                                <ul class="menu-inner">
                                    <li class="menu-item" aria-haspopup="true">
                                        <a href="javascript:;" class="menu-link">
                                            <i class="menu-bullet menu-bullet-line">
                                                <span></span>
                                            </i>
                                            <span class="menu-text">Công việc của tôi</span>
                                        </a>
                                    </li>
                                    <li class="menu-item" aria-haspopup="true">
                                        <a href="javascript:;" class="menu-link">
                                            <i class="menu-bullet menu-bullet-line">
                                                <span></span>
                                            </i>
                                            <span class="menu-text">Quản trị</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
                <a href="javascript:;" class="menu-link menu-toggle">
                    <i class="fas fa-ellipsis-h"></i>
                </a>
                <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                    <ul class="menu-subnav">
                        <li class="menu-item" aria-haspopup="true">
                            <a href="javascript:;" class="menu-link">
                                <span class="menu-icon">
                                    <i class="far fa-clock"></i>
                                </span>
                                <span class="menu-text font-size-lg text-dark text-uppercase">Lịch làm việc</span>
                            </a>
                        </li>
                        <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                            <a href="javascript:;" class="menu-link menu-toggle">
                                <span class="menu-icon">
                                    <i class="fas fa-city"></i>
                                </span>
                                <span class="menu-text font-size-lg text-dark text-uppercase">Đăng ký phòng họp</span>
                                <i class="fas fa-chevron-right font-size-xs"></i>
                            </a>
                            <div class="menu-submenu menu-submenu-classic menu-submenu-right">
                                <ul class="menu-subnav">
                                    <li class="menu-item" aria-haspopup="true">
                                        <a href="javascript:;" class="menu-link">
                                            <i class="menu-bullet menu-bullet-dot">
                                                <span></span>
                                            </i>
                                            <span class="menu-text">Đăng ký</span>
                                        </a>
                                    </li>
                                    <li class="menu-item" aria-haspopup="true">
                                        <a href="javascript:;" class="menu-link">
                                            <i class="menu-bullet menu-bullet-dot">
                                                <span></span>
                                            </i>
                                            <span class="menu-text">Đang chờ duyệt</span>
                                            <span class="menu-label">
                                                <span class="label label-danger label-rounded">3</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="menu-item" aria-haspopup="true">
                                        <a href="javascript:;" class="menu-link">
                                            <i class="menu-bullet menu-bullet-dot">
                                                <span></span>
                                            </i>
                                            <span class="menu-text">Đã duyệt</span>
                                        </a>
                                    </li>
                                    <li class="menu-item" aria-haspopup="true">
                                        <a href="javascript:;" class="menu-link">
                                            <i class="menu-bullet menu-bullet-dot">
                                                <span></span>
                                            </i>
                                            <span class="menu-text">Thống kê</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="menu-item" aria-haspopup="true">
                            <a href="javascript:;" class="menu-link">
                                <span class="menu-icon">
                                    <i class="fas fa-file-invoice"></i>
                                </span>
                                <span class="menu-text font-size-lg text-dark text-uppercase">Đăng ký phép</span>
                            </a>
                        </li>
                        <li class="menu-item" aria-haspopup="true">
                            <a href="javascript:;" class="menu-link">
                                <span class="menu-icon">
                                    <i class="fas fa-highlighter"></i>
                                </span>
                                <span class="menu-text font-size-lg text-dark text-uppercase">Văn phòng phẩm</span>
                                <span class="menu-label">
                                    <span class="label label-success label-rounded">3</span>
                                </span>
                            </a>
                        </li>
                        <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover">
                            <a href="quanlyhopdong.html" class="menu-link menu-toggle">
                                <span class="menu-icon">
                                    <i class="fas fa-newspaper"></i>
                                </span>
                                <span class="menu-text font-size-lg text-dark text-uppercase">Quản lý hợp đồng</span>
                                <i class="fas fa-chevron-right font-size-xs"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>