<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net461" />
  <package id="Antlr3.Runtime" version="3.5.1" targetFramework="net461" />
  <package id="AutoMapper" version="7.0.1" targetFramework="net461" />
  <package id="AutoMapper.EF6" version="1.1.1" targetFramework="net461" />
  <package id="DelegateDecompiler" version="0.23.0" targetFramework="net461" />
  <package id="DelegateDecompiler.EntityFramework" version="0.23.0" targetFramework="net461" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net461" />
  <package id="EPPlus" version="5.2.1" targetFramework="net461" />
  <package id="FirebaseAdmin" version="2.0.0" targetFramework="net461" />
  <package id="Google.Api.Gax" version="3.2.0" targetFramework="net461" />
  <package id="Google.Api.Gax.Rest" version="3.2.0" targetFramework="net461" />
  <package id="Google.Apis" version="1.49.0" targetFramework="net461" />
  <package id="Google.Apis.Auth" version="1.49.0" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.49.0" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.11.32" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="Mono.Reflection" version="1.1.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net461" />
  <package id="PdfiumViewer.Native.x86_64.v8-xfa" version="2018.4.8.256" targetFramework="net461" />
  <package id="RefactorThis.GraphDiff" version="3.1.2" targetFramework="net461" />
  <package id="Syncfusion.Compression.Base" version="18.2.0.55" targetFramework="net461" />
  <package id="Syncfusion.DocIO.AspNet" version="18.2.0.55" targetFramework="net461" />
  <package id="Syncfusion.DocToPDFConverter.AspNet" version="18.2.0.55" targetFramework="net461" />
  <package id="Syncfusion.ExcelToPdfConverter.AspNet" version="18.2.0.55" targetFramework="net461" />
  <package id="Syncfusion.Licensing" version="18.2.0.55" targetFramework="net461" />
  <package id="Syncfusion.OfficeChart.Base" version="18.2.0.55" targetFramework="net461" />
  <package id="Syncfusion.Pdf.AspNet" version="18.2.0.55" targetFramework="net461" />
  <package id="Syncfusion.XlsIO.AspNet" version="18.2.0.55" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.7.1" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net461" />
  <package id="System.Interactive.Async" version="3.2.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="Unity" version="5.7.0" targetFramework="net461" />
  <package id="Unity.Abstractions" version="3.3.0" targetFramework="net461" />
  <package id="Unity.Container" version="5.8.6" targetFramework="net461" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net461" />
  <package id="WebGrease" version="1.6.0" targetFramework="net461" />
</packages>