<div class="dropdown">
    <div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">
        <div class="btn btn-icon btn-clean btn-dropdown btn-lg mr-1">
            <img class="h-20px w-20px rounded-sm" src="~/Content/metronic/svg/064-vietnam.svg" alt="">
        </div>
    </div>
    <!--begin::Dropdown-->
    <div class="dropdown-menu p-0 m-0 dropdown-menu-anim-up dropdown-menu-sm dropdown-menu-right">
        <ul class="navi navi-hover py-4">
            <li class="navi-item">
                <a href="#" class="navi-link">
                    <span class="symbol symbol-20 mr-3">
                        <img src="~/Content/metronic/svg/064-vietnam.svg" alt="">
                    </span>
                    <span class="navi-text">Vietnamese</span>
                </a>
            </li>
            <li class="navi-item">
                <a href="#" class="navi-link">
                    <span class="symbol symbol-20 mr-3">
                        <img src="~/Content/metronic/svg/226-united-states.svg" alt="">
                    </span>
                    <span class="navi-text">English</span>
                </a>
            </li>
        </ul>
    </div>
    <!--end::Dropdown-->
</div>