<div class="aside aside-left aside-fixed d-flex flex-column flex-row-auto" id="kt_aside">


    <div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">
        <div id="kt_aside_menu" class="aside-menu scroll ps ps--active-y" data-menu-vertical="1" data-menu-scroll="1" data-menu-dropdown-timeout="500" style="height: 431px; overflow: hidden;">
            <div class="contract-left">
                <div class="aside-menu menu-system">
                    <ul class="menu-nav">
                        <li class="menu-item">
                            <a href="/Feature/contract/home/index" class="menu-link menu-toggle">
                                <span class="menu-icon">
                                    <i class="fas fa-home"></i>
                                </span>
                                <span class="menu-text">TRANG CHỦ</span>

                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="javascript:;" class="menu-link menu-toggle">
                                <span class="menu-icon">
                                    <i class="fas fa-folder"></i>
                                </span>
                                <span class="menu-text">QUẢN LÝ HỢP ĐỒNG</span>

                            </a>
                            <div class="d-block ml-10 mt-2 jstree jstree-1 jstree-default" id="tree-ed-node" role="tree" aria-multiselectable="true" tabindex="0" aria-activedescendant="8b86f0b0-c1af-4261-9927-7968abceeee8" aria-busy="false"><ul class="jstree-container-ul jstree-children" role="group"><li role="presentation" aria-selected="true" aria-level="1" aria-labelledby="50c834bc-0a08-45c6-970f-a0be4d5f332e_anchor" aria-expanded="true" id="50c834bc-0a08-45c6-970f-a0be4d5f332e" class="jstree-node jstree-open" aria-busy="false"><i class="jstree-icon jstree-ocl" role="presentation"></i><a class="jstree-anchor  jstree-clicked" href="#" tabindex="-1" role="treeitem" aria-selected="true" aria-level="1" aria-expanded="true" id="50c834bc-0a08-45c6-970f-a0be4d5f332e_anchor"><i class="jstree-icon jstree-themeicon jstree-icon jstree-themeicon fa fa-folder text-warning jstree-themeicon-custom jstree-themeicon-custom" role="presentation"></i>E-OFFICE</a><ul role="group" class="jstree-children"><li role="presentation" aria-selected="false" aria-level="2" aria-labelledby="4d634a04-83d5-41f7-92a1-4559a73e94e8_anchor" id="4d634a04-83d5-41f7-92a1-4559a73e94e8" class="jstree-node  jstree-leaf"><i class="jstree-icon jstree-ocl" role="presentation"></i><a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" id="4d634a04-83d5-41f7-92a1-4559a73e94e8_anchor"><i class="jstree-icon jstree-themeicon jstree-icon jstree-themeicon fa fa-folder text-warning jstree-themeicon-custom jstree-themeicon-custom" role="presentation"></i>Dự án 2020</a></li><li role="presentation" aria-selected="false" aria-level="2" aria-labelledby="a29740cb-cbf6-40bf-b537-5d8db6328105_anchor" id="a29740cb-cbf6-40bf-b537-5d8db6328105" class="jstree-node  jstree-leaf"><i class="jstree-icon jstree-ocl" role="presentation"></i><a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" id="a29740cb-cbf6-40bf-b537-5d8db6328105_anchor"><i class="jstree-icon jstree-themeicon jstree-icon jstree-themeicon fa fa-folder text-warning jstree-themeicon-custom jstree-themeicon-custom" role="presentation"></i>Dự án 2021</a></li><li role="presentation" aria-selected="false" aria-level="2" aria-labelledby="85e7946a-7c3b-4fe1-aabd-ba333918ceb7_anchor" id="85e7946a-7c3b-4fe1-aabd-ba333918ceb7" class="jstree-node  jstree-leaf jstree-last"><i class="jstree-icon jstree-ocl" role="presentation"></i><a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="2" id="85e7946a-7c3b-4fe1-aabd-ba333918ceb7_anchor"><i class="jstree-icon jstree-themeicon jstree-icon jstree-themeicon fa fa-folder text-warning jstree-themeicon-custom jstree-themeicon-custom" role="presentation"></i>Khu kinh tế Nhơn Hội</a></li></ul></li><li role="presentation" aria-selected="false" aria-level="1" aria-labelledby="1c3a15bb-eb65-4954-995b-9d8be0c6c2c7_anchor" aria-expanded="false" id="1c3a15bb-eb65-4954-995b-9d8be0c6c2c7" class="jstree-node  jstree-closed"><i class="jstree-icon jstree-ocl" role="presentation"></i><a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="1" aria-expanded="false" id="1c3a15bb-eb65-4954-995b-9d8be0c6c2c7_anchor"><i class="jstree-icon jstree-themeicon jstree-icon jstree-themeicon fa fa-folder text-warning jstree-themeicon-custom jstree-themeicon-custom" role="presentation"></i>An toàn, vệ sinh, lao động</a></li><li role="presentation" aria-selected="false" aria-level="1" aria-labelledby="0b384613-409d-43dc-8921-1fec6716dca2_anchor" aria-expanded="false" id="0b384613-409d-43dc-8921-1fec6716dca2" class="jstree-node  jstree-closed"><i class="jstree-icon jstree-ocl" role="presentation"></i><a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="1" aria-expanded="false" id="0b384613-409d-43dc-8921-1fec6716dca2_anchor"><i class="jstree-icon jstree-themeicon jstree-icon jstree-themeicon fa fa-folder text-warning jstree-themeicon-custom jstree-themeicon-custom" role="presentation"></i>Dịch vụ bảo dưỡng, sữa chữa</a></li><li role="presentation" aria-selected="false" aria-level="1" aria-labelledby="9bf78c03-6121-4600-b257-895075ffaffa_anchor" id="9bf78c03-6121-4600-b257-895075ffaffa" class="jstree-node  jstree-leaf"><i class="jstree-icon jstree-ocl" role="presentation"></i><a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="1" id="9bf78c03-6121-4600-b257-895075ffaffa_anchor"><i class="jstree-icon jstree-themeicon jstree-icon jstree-themeicon fa fa-folder text-warning jstree-themeicon-custom jstree-themeicon-custom" role="presentation"></i>Dịch vụ tư vấn</a></li><li role="presentation" aria-selected="false" aria-level="1" aria-labelledby="6be373a0-a0e9-40e5-8574-c6712e2bafa1_anchor" aria-expanded="false" id="6be373a0-a0e9-40e5-8574-c6712e2bafa1" class="jstree-node  jstree-closed"><i class="jstree-icon jstree-ocl" role="presentation"></i><a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="1" aria-expanded="false" id="6be373a0-a0e9-40e5-8574-c6712e2bafa1_anchor"><i class="jstree-icon jstree-themeicon jstree-icon jstree-themeicon fa fa-folder text-warning jstree-themeicon-custom jstree-themeicon-custom" role="presentation"></i>Công nghệ thông tin</a></li><li role="presentation" aria-selected="false" aria-level="1" aria-labelledby="eb99b132-40e0-4f06-9062-d69a2df7f809_anchor" aria-expanded="false" id="eb99b132-40e0-4f06-9062-d69a2df7f809" class="jstree-node  jstree-closed"><i class="jstree-icon jstree-ocl" role="presentation"></i><a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="1" aria-expanded="false" id="eb99b132-40e0-4f06-9062-d69a2df7f809_anchor"><i class="jstree-icon jstree-themeicon jstree-icon jstree-themeicon fa fa-folder text-warning jstree-themeicon-custom jstree-themeicon-custom" role="presentation"></i>Thiết bị điện - Điều khiển</a></li><li role="presentation" aria-selected="false" aria-level="1" aria-labelledby="c7ce8a09-b8e2-4173-9ffc-1baa15e4f5d1_anchor" id="c7ce8a09-b8e2-4173-9ffc-1baa15e4f5d1" class="jstree-node  jstree-leaf"><i class="jstree-icon jstree-ocl" role="presentation"></i><a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="1" id="c7ce8a09-b8e2-4173-9ffc-1baa15e4f5d1_anchor"><i class="jstree-icon jstree-themeicon jstree-icon jstree-themeicon fa fa-folder text-warning jstree-themeicon-custom jstree-themeicon-custom" role="presentation"></i>Công nghệ thông tin</a></li><li role="presentation" aria-selected="false" aria-level="1" aria-labelledby="8b86f0b0-c1af-4261-9927-7968abceeee8_anchor" id="8b86f0b0-c1af-4261-9927-7968abceeee8" class="jstree-node  jstree-leaf"><i class="jstree-icon jstree-ocl" role="presentation"></i><a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="1" id="8b86f0b0-c1af-4261-9927-7968abceeee8_anchor"><i class="jstree-icon jstree-themeicon jstree-icon jstree-themeicon fa fa-folder text-warning jstree-themeicon-custom jstree-themeicon-custom" role="presentation"></i>Dịch vụ bảo dưỡng, sữa chữa</a></li><li role="presentation" aria-selected="false" aria-level="1" aria-labelledby="e5c365bf-3a14-4f8c-8962-39a4ad937f69_anchor" aria-expanded="false" id="e5c365bf-3a14-4f8c-8962-39a4ad937f69" class="jstree-node  jstree-closed"><i class="jstree-icon jstree-ocl" role="presentation"></i><a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="1" aria-expanded="false" id="e5c365bf-3a14-4f8c-8962-39a4ad937f69_anchor"><i class="jstree-icon jstree-themeicon jstree-icon jstree-themeicon fa fa-folder text-warning jstree-themeicon-custom jstree-themeicon-custom" role="presentation"></i>Công nghệ thông tin</a></li><li role="presentation" aria-selected="false" aria-level="1" aria-labelledby="82b2b291-185a-4cc4-8e3e-2c9edac7203e_anchor" id="82b2b291-185a-4cc4-8e3e-2c9edac7203e" class="jstree-node  jstree-leaf"><i class="jstree-icon jstree-ocl" role="presentation"></i><a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="1" id="82b2b291-185a-4cc4-8e3e-2c9edac7203e_anchor"><i class="jstree-icon jstree-themeicon jstree-icon jstree-themeicon fa fa-folder text-warning jstree-themeicon-custom jstree-themeicon-custom" role="presentation"></i>Dịch vụ bảo trì &amp; sữa chữa</a></li><li role="presentation" aria-selected="false" aria-level="1" aria-labelledby="68d4ee64-6037-4bcf-83dc-e5c54fcbf880_anchor" id="68d4ee64-6037-4bcf-83dc-e5c54fcbf880" class="jstree-node  jstree-leaf"><i class="jstree-icon jstree-ocl" role="presentation"></i><a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="1" id="68d4ee64-6037-4bcf-83dc-e5c54fcbf880_anchor"><i class="jstree-icon jstree-themeicon jstree-icon jstree-themeicon fa fa-folder text-warning jstree-themeicon-custom jstree-themeicon-custom" role="presentation"></i>Cung cấp linh kiện</a></li><li role="presentation" aria-selected="false" aria-level="1" aria-labelledby="c4f50dfa-a6c2-4fbb-93b6-8857ecb2c46a_anchor" id="c4f50dfa-a6c2-4fbb-93b6-8857ecb2c46a" class="jstree-node  jstree-leaf"><i class="jstree-icon jstree-ocl" role="presentation"></i><a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="1" id="c4f50dfa-a6c2-4fbb-93b6-8857ecb2c46a_anchor"><i class="jstree-icon jstree-themeicon jstree-icon jstree-themeicon fa fa-folder text-warning jstree-themeicon-custom jstree-themeicon-custom" role="presentation"></i>Mua sắm trang thiết bị</a></li><li role="presentation" aria-selected="false" aria-level="1" aria-labelledby="6e96e130-1e69-45e8-830c-79cbdde92d83_anchor" id="6e96e130-1e69-45e8-830c-79cbdde92d83" class="jstree-node  jstree-leaf"><i class="jstree-icon jstree-ocl" role="presentation"></i><a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="1" id="6e96e130-1e69-45e8-830c-79cbdde92d83_anchor"><i class="jstree-icon jstree-themeicon jstree-icon jstree-themeicon fa fa-folder text-warning jstree-themeicon-custom jstree-themeicon-custom" role="presentation"></i>Nâng cấp phần mềm</a></li><li role="presentation" aria-selected="false" aria-level="1" aria-labelledby="16e0e159-f94a-42ab-9cb6-61d110a24fe9_anchor" id="16e0e159-f94a-42ab-9cb6-61d110a24fe9" class="jstree-node  jstree-leaf"><i class="jstree-icon jstree-ocl" role="presentation"></i><a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="1" id="16e0e159-f94a-42ab-9cb6-61d110a24fe9_anchor"><i class="jstree-icon jstree-themeicon jstree-icon jstree-themeicon fa fa-folder text-warning jstree-themeicon-custom jstree-themeicon-custom" role="presentation"></i>Phần mềm diệt virus</a></li><li role="presentation" aria-selected="false" aria-level="1" aria-labelledby="b8a3626b-fa40-4278-a498-1c6b3c14fdf8_anchor" id="b8a3626b-fa40-4278-a498-1c6b3c14fdf8" class="jstree-node  jstree-leaf jstree-last"><i class="jstree-icon jstree-ocl" role="presentation"></i><a class="jstree-anchor" href="#" tabindex="-1" role="treeitem" aria-selected="false" aria-level="1" id="b8a3626b-fa40-4278-a498-1c6b3c14fdf8_anchor"><i class="jstree-icon jstree-themeicon jstree-icon jstree-themeicon fa fa-folder text-warning jstree-themeicon-custom jstree-themeicon-custom" role="presentation"></i>Mua bản quyền phần mềm</a></li></ul></div>
                        </li>
                    </ul>
                </div>

                <div class="menu-sticky-zoon">
                    <div class="d-block float-right">


                        <a href="javascript:;" ng-show="filter.currentNodeId!= '' &amp;&amp; filter.currentNodeId !== undefined &amp;&amp; permission.IsShowFolderGroup" ng-click="ViewFolderGroup('Update')" class="btn btn-sm btn-icon btn-bg-light btn-icon-primary btn-hover-primary"><i class="fas fa-pencil-alt"></i></a>
                        <a href="javascript:;" ng-show="filter.currentNodeId!= '' &amp;&amp; filter.currentNodeId !== undefined &amp;&amp; permission.IsShowFolderGroup" ng-click="DeleteFolderGroup()" class="btn btn-sm btn-icon btn-bg-light btn-icon-danger btn-hover-danger"><i class="fas fa-trash-alt"></i></a>
                    </div>
                </div>
                <div class="aside-menu menu-system">
                    <ul class="menu-nav">
                        <li class="menu-item">
                            <a href="javascript:;" class="menu-link menu-toggle">
                                <span class="menu-icon">
                                    <i class="fas fa-cog"></i>
                                </span>

                                <span class="menu-text">QUẢN TRỊ</span>
                            </a>
                        </li>
                        <li class="menu-item menu-item-submenu menu-item-open">
                            <div class="menu-submenu">
                                <i class="menu-arrow"></i>
                                <ul class="menu-subnav">
                                    <li class="menu-item" aria-haspopup="true">
                                        <a href="/Feature/ConTract/DocumentTemplate/Index" class="menu-link">
                                            <i class="menu-bullet menu-bullet-dot">
                                                <span></span>
                                            </i>
                                            <span class="menu-text">Quản lý biểu mẫu</span>
                                        </a>
                                    </li>
                                    <li class="menu-item" aria-haspopup="true">
                                        <a href="/Feature/ConTract/Category/Index" class="menu-link">
                                            <i class="menu-bullet menu-bullet-dot">
                                                <span></span>
                                            </i>
                                            <span class="menu-text">Quản lý danh mục</span>
                                        </a>
                                    </li>
                                    <li class="menu-item" aria-haspopup="true">
                                        <a href="/Feature/ConTract/System/ConfigTableManagement" class="menu-link">
                                            <i class="menu-bullet menu-bullet-dot">
                                                <span></span>
                                            </i>
                                            <span class="menu-text">Quản lý cấu hình cột động</span>
                                        </a>
                                    </li>
                                    <li class="menu-item" aria-haspopup="true">
                                        <a href="/Feature/ConTract/Report/Index" class="menu-link">
                                            <i class="menu-bullet menu-bullet-dot">
                                                <span></span>
                                            </i>
                                            <span class="menu-text">Báo cáo thống kê</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 431px; right: 4px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 225px;"></div></div>
        </div>
    </div>
</div>

<div style="display:none">

    <div class="aside aside-left aside-fixed d-flex flex-column flex-row-auto" id="kt_aside">
        <div class="brand flex-column-auto" id="kt_brand" kt-hidden-height="65" style="">
            <a href="0.index.html" class="brand-logo">
                <img alt="Logo" src="~/Content/metronic/img/logo-dark.png">
            </a>
            <button class="brand-toggle btn btn-sm px-0" id="kt_aside_toggle">
                <span class="svg-icon svg-icon svg-icon-xl">
                    <img src="~/Content/metronic/img/svg/Angle-double-left.svg" />
                </span>
            </button>
        </div>
        <div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">
            <div id="kt_aside_menu" class="aside-menu scroll ps ps--active-y" data-menu-vertical="1" data-menu-scroll="1" data-menu-dropdown-timeout="500" style="height: 509px; overflow: hidden;">
                <div id="kt_tree_4" class="tree-demo">
                </div>
            </div>
        </div>
    </div>
    @section scripts{
        <script>
            $("#kt_tree_4").jstree({
                "core": {
                    "themes": {
                        "responsive": false
                    },
                    // so that create works
                    "check_callback": true,
                    "data": [{
                        "text": "Hợp đồng nội bộ",
                        "children": [{
                            "text": "Nhóm dự án ADB",
                            "state": {
                                "selected": true
                            }
                        }, {
                            "text": "Nhóm Ngân Hàng",
                            "icon": "fa fa-folder text-success",
                            "state": {
                                "opened": true
                            },
                            "children": [{
                                "text": "Vietcombank",
                                "icon": "fa fa-file text-waring"
                            }]
                        }, {
                            "text": "Công ty Đại Phát Đạt",
                            "icon": "fa fa-folder text-success",
                            "children": [{
                                "text": "Nhóm 1",
                                "icon": "fa fa-file text-waring"
                            },
                            {
                                "text": "Nhóm 2",
                                "icon": "fa fa-file text-waring"
                            },
                            {
                                "text": "Nhóm 5",
                                "icon": "fa fa-file text-waring"
                            }
                            ]
                        }]
                    },
                        "Hợp đồng khác"
                    ]
                },
                "types": {
                    "default": {
                        "icon": "fa fa-folder text-success"
                    },
                    "file": {
                        "icon": "fa fa-file  text-success"
                    }
                },
                "state": {
                    "key": "demo2"
                },
                "plugins": ["contextmenu", "state", "types"]
            });
        </script>
    }
</div>