<div class="modal fade" id="modal-newEvent" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeLg" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Bài viết</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-9">
                        <div class="form-group">
                            <label>Tiêu đề</label>
                            <input type="text" class="form-control" placeholder="Nhập tiêu đề" />
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group">
                            <label>Chia sẻ</label>
                            <div class="card-toolbar w-100">
                                <div class="dropdown dropdown-inline d-block">
                                    <a href="#" class="btn btn-light-primary btn-block btn-md font-weight-bolder text-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tất cả <i class="fas fa-chevron-down font-size-xs pr-0 float-right mt-2"></i></a>
                                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right" style="">
                                        <ul class="navi navi-hover">
                                            <li class="navi-item">
                                                <a href="#" class="navi-link">
                                                    <span class="navi-icon">
                                                        <i class="fas fa-laptop-code"></i>
                                                    </span>
                                                    <span class="navi-text">Dự án</span>
                                                </a>
                                            </li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link">
                                                    <span class="navi-icon">
                                                        <i class="fas fa-laptop-house"></i>
                                                    </span>
                                                    <span class="navi-text">Nhóm phát triển</span>
                                                </a>
                                            </li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link">
                                                    <span class="navi-icon">
                                                        <i class="fas fa-atlas"></i>
                                                    </span>
                                                    <span class="navi-text">Đơn vị</span>
                                                </a>
                                            </li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link">
                                                    <span class="navi-icon">
                                                        <i class="fas fa-building"></i>
                                                    </span>
                                                    <span class="navi-text">Tất cả</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="form-group">
                            <label>Nội dung<span class="text-danger">*</span></label>
                            <textarea class="form-control form-control-lg" id="exampleTextarea" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="form-group">
                            <div class="d-flex">
                                <button type="button" class="btn btn-sm btn-primary mr-2"><i class="far fa-image"></i> Hình ảnh</button>
                                <button type="button" class="btn btn-sm btn-success mr-2"><i class="far fa-play-circle"></i> Video</button>
                                <button type="button" class="btn btn-sm btn-warning"><i class="fas fa-cloud-upload-alt"></i> Tập tin</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary font-weight-bold">Lưu</button>
            </div>
        </div>
    </div>
</div>