<div class="dropdown">
    <div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">
        <div class="btn btn-icon btn-clean btn-dropdown btn-lg mr-1 pulse pulse-primary">
            <span class="svg-icon svg-icon-xl svg-icon-primary">
                <img src="~/Content/metronic/img/svg/Notifications1.svg" />
            </span>
            <span class="pulse-ring"></span>
        </div>
    </div>
    <!--begin::Dropdown-->
    <div class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-anim-up dropdown-menu-lg">
        <div class="d-flex flex-column pt-12 bgi-size-cover bgi-no-repeat rounded-top">
            <h4 class="d-flex flex-center rounded-top">
                <span class="text-black">Thông báo của bạn</span>
                <span class="btn btn-text btn-success btn-sm font-weight-bold btn-font-md ml-2">2 thông báo mới</span>
            </h4>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="topbar_notifications_events" role="tabpanel">
                <div class="navi navi-hover scroll my-4 ps" data-scroll="true" data-height="300" data-mobile-height="200">
                    <a href="https://preview.keenthemes.com/metronic/demo1/index.html#" class="navi-item">
                        <div class="navi-link">
                            <div class="navi-icon mr-2">
                                <i class="flaticon2-line-chart text-success"></i>
                            </div>
                            <div class="navi-text">
                                <div class="font-weight-bold">Bạn có 1 tin nhắn mới từ tqlan</div>
                                <div class="text-muted">23h trước</div>
                            </div>
                        </div>
                    </a>
                    <a href="https://preview.keenthemes.com/metronic/demo1/index.html#" class="navi-item">
                        <div class="navi-link">
                            <div class="navi-icon mr-2">
                                <i class="flaticon2-pie-chart-3 text-warning"></i>
                            </div>
                            <div class="navinavinavi-text">
                                <div class="font-weight-bold">Công việc sắp hết hạn</div>
                                <div class="text-muted">2 ngày còn lại</div>
                            </div>
                        </div>
                    </a>
                    <a href="https://preview.keenthemes.com/metronic/demo1/index.html#" class="navi-item">
                        <div class="navi-link">
                            <div class="navi-icon mr-2">
                                <i class="flaticon-security text-warning"></i>
                            </div>
                            <div class="navi-text">
                                <div class="font-weight-bold">Thông báo mới từ diễn đàn</div>
                                <div class="text-muted">2 ngày trước</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--end::Dropdown-->
</div>
