@{
    
}

<div class="content d-flex flex-column flex-column-fluid report" id="UserReviewReportCtrl" ng-controller="ReportWeeklyCtrl" ng-cloak>
    <div class="d-flex flex-column-fluid">
        <div class="container px-9px">
            <div class="card card-custom card-stretch">
                <div class="card-header">
                    <h3 class="card-title font-weight-bolder text-dark">@ViewBag.Title</h3>
                    <div class="card-toolbar">

                    </div>
                </div>
                <div class="card-body">
                    @Html.Action("FormSearch")
                    <div class="table-responsive">
                        <tree-grid tree-data="reportCommon.data" col-defs="reportCommon.collumns" expand-on="reportCommon.collumnExpand" icon-leaf="glyphicon glyphicon-globe"></tree-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
    <script src="~/Areas/Task/Content/angularjs/services/ReportService.js"></script>
    <script src="~/Areas/Task/Content/angularjs/directives/tree-grid-directive.js"></script>
    <script src="~/Areas/Task/Content/angularjs/controller/ReportCommonCtrl.js"></script>
    <script src="~/Areas/Task/Content/angularjs/controller/ReportWeeklyCtrl.js"></script>
}
