<div id="kt_demo_panel" class="offcanvas offcanvas-left p-4">
    <div class="offcanvas-header d-flex align-items-center justify-content-between" kt-hidden-height="46" style="">
        <a href="#" class="btn btn-icon btn-danger btn-circle" id="kt_demo_panel_close">
            <i class="fas fa-times"></i>
        </a>
    </div>
    <div class="offcanvas-content">
        <a href="javascript:;" class="menu-link menu-toggle">
            <i class="menu-bullet menu-bullet-dot">
                <span></span>
            </i>
            <span class="menu-text">Quản lý hợp đồng</span>
            <i class="fas fa-chevron-right"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">
                <li class="menu-item" aria-haspopup="true">
                    <a href="~/ConTract/Home/Index" class="menu-link">
                        <i class="menu-bullet menu-bullet-line">
                            <span></span>
                        </i>
                        <span class="menu-text">Trang chủ</span>
                    </a>
                </li>
            </ul>
        </div>
        <a href="javascript:;" class="menu-link menu-toggle">
            <i class="menu-bullet menu-bullet-dot">
                <span></span>
            </i>
            <span class="menu-text">Quản trị</span>
            <i class="fas fa-chevron-right"></i>
        </a>
        <div class="menu-submenu">
            <i class="menu-arrow"></i>
            <ul class="menu-subnav">
                <li class="menu-item" aria-haspopup="true">
                    <a href="~/ConTract/DocumentTemplate/Index" class="menu-link">
                        <i class="menu-bullet menu-bullet-line">
                            <span></span>
                        </i>
                        <span class="menu-text">Quản lý biểu mẫu</span>
                    </a>
                </li>
                <li class="menu-item" aria-haspopup="true">
                    <a href="~/ConTract/Category/Index" class="menu-link">
                        <i class="menu-bullet menu-bullet-line">
                            <span></span>
                        </i>
                        <span class="menu-text">Quản lý danh mục</span>
                    </a>
                </li>
                <li class="menu-item" aria-haspopup="true">
                    <a href="~/ConTract/System/ConfigTableManagement" class="menu-link">
                        <i class="menu-bullet menu-bullet-line">
                            <span></span>
                        </i>
                        <span class="menu-text">Quản lý cấu hình cột động</span>
                    </a>
                </li>
                <li class="menu-item" aria-haspopup="true">
                    <a href="~/ConTract/Report/Index" class="menu-link">
                        <i class="menu-bullet menu-bullet-line">
                            <span></span>
                        </i>
                        <span class="menu-text">Báo cáo thống kê</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>