
@{
}

<div class="subheader py-2 subheader-solid mb-0" id="kt_subheader">
    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <div class="d-flex align-items-center flex-wrap mr-2">
            Demo
        </div>
    </div>
</div>
<div class="d-flex flex-column-fluid">
    <div class="container pt-9px">
        <div class="row row-stretch">
            <div class="flex-row-fluid">
                <div class="card card-custom gutter-b">
                    <div class="card-body">
                        <div class="btn btn-success text-left mb-5">1 ZONE</div>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Full Name:</label>
                                <input type="email" class="form-control" placeholder="Enter full name" />
                                <span class="form-text text-muted">Please enter your full name</span>
                            </div>
                            <div class="col-lg-6">
                                <label>Contact Number:</label>
                                <input type="email" class="form-control" placeholder="Enter contact number" />
                                <span class="form-text text-muted">Please enter your contact number</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-4">
                                <label>Full Name:</label>
                                <input type="email" class="form-control" placeholder="Enter full name">
                            </div>
                            <div class="col-lg-4">
                                <label>Email:</label>
                                <input type="email" class="form-control" placeholder="Enter email">
                            </div>
                            <div class="col-lg-4">
                                <label>Username:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-user"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-3">
                                <label>Full Name:</label>
                                <input type="email" class="form-control" placeholder="Enter full name">
                            </div>
                            <div class="col-lg-3">
                                <label>Email:</label>
                                <input type="email" class="form-control" placeholder="Enter email">
                            </div>
                            <div class="col-lg-3">
                                <label>Phone:</label>
                                <input type="number" class="form-control" placeholder="Phone">
                            </div>
                            <div class="col-lg-3">
                                <label>Username:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-user"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-5">...</div>

                <div class="card card-custom gutter-b">
                    <div class="card-body">
                        <div class="btn btn-info text-left mb-5">2 ZONE</div>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Full Name:</label>
                                <input type="email" class="form-control" placeholder="Enter full name" />
                                <span class="form-text text-muted">Please enter your full name</span>
                            </div>
                            <div class="col-lg-6">
                                <label>Contact Number:</label>
                                <input type="email" class="form-control" placeholder="Enter contact number" />
                                <span class="form-text text-muted">Please enter your contact number</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label>Contact Number:</label>
                                        <input type="email" class="form-control" placeholder="Enter contact number" />
                                    </div>
                                    <div class="col-lg-6">
                                        <label>Contact Number:</label>
                                        <input type="email" class="form-control" placeholder="Enter contact number" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label>Contact Number:</label>
                                        <input type="email" class="form-control" placeholder="Enter contact number" />
                                    </div>
                                    <div class="col-lg-6">
                                        <label>Contact Number:</label>
                                        <input type="email" class="form-control" placeholder="Enter contact number" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" form-group row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Inline Checkboxes</label>
                                    <div class="checkbox-inline">
                                        <label class="checkbox">
                                            <input type="checkbox" name="Checkboxes2" />
                                            <span></span>
                                            Option 1
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox" name="Checkboxes2" />
                                            <span></span>
                                            Option 2
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox" name="Checkboxes2" />
                                            <span></span>
                                            Option 3
                                        </label>
                                    </div>
                                    <span class="form-text text-muted">Some help text goes here</span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Inline radios</label>
                                    <div class="radio-inline">
                                        <label class="radio">
                                            <input type="radio" name="radios2" />
                                            <span></span>
                                            Option 1
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="radios2" />
                                            <span></span>
                                            Option 2
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="radios2" />
                                            <span></span>
                                            Option 3
                                        </label>
                                    </div>
                                    <span class="form-text text-muted">Some help text goes here</span>
                                </div>
                                <form class="form">
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">Default Switch</label>
                                        <div class="col-3">
                                            <span class="switch">
                                                <label>
                                                    <input type="checkbox" checked="checked" name="select" />
                                                    <span></span>
                                                </label>
                                            </span>
                                        </div>
                                        
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Menu</label>
                                    <textarea class="form-control" name="memo" placeholder="Enter a menu" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-5">...</div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-custom gutter-b">
                            <div class="card-header">
                                <h3 class="card-title">Icon Input Validation States</h3>
                                <div class="card-toolbar">
                                    <div class="example-tools justify-content-center">
                                        <span class="example-toggle" data-toggle="tooltip" title="" data-original-title="View code"></span>
                                        <span class="example-copy" data-toggle="tooltip" title="" data-original-title="Copy code"></span>
                                    </div>
                                </div>
                            </div>
                            <form class="form">
                                <div class="card-body">
                                    <div class="form-group validated">
                                        <label class="form-control-label">Left Icon</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-map-marker "></i></span></div>
                                            <input type="text" class="form-control is-valid" placeholder="Email" />
                                        </div>
                                        <div class="valid-feedback">Success! You've done it.</div>
                                        <span class="form-text text-muted">Example help text that remains unchanged.</span>
                                    </div>
                                    <div class="form-group validated">
                                        <label class="form-control-label">Right Icon</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control is-invalid" placeholder="Email" />
                                            <div class="input-group-append"><span class="input-group-text"><i class="la la-unlock-alt "></i></span></div>
                                        </div>
                                        <div class="invalid-feedback">Shucks, check the formatting of that and try again.</div>
                                        <span class="form-text text-muted">Example help text that remains unchanged.</span>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary font-weight-bold mr-2">Submit</button>
                                    <button type="submit" class="btn btn-light-primary font-weight-bold">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-custom gutter-b">
                            <div class="card-header">
                                <h3 class="card-title">Checkbox &amp; Radio Validation States</h3>
                                <div class="card-toolbar">
                                    <div class="example-tools justify-content-center">
                                        <span class="example-toggle" data-toggle="tooltip" title="" data-original-title="View code"></span>
                                        <span class="example-copy" data-toggle="tooltip" title="" data-original-title="Copy code"></span>
                                    </div>
                                </div>
                            </div>
                            <form class="form">
                                <div class="card-body">
                                    <div class="form-group validated">
                                        <label class="form-control-label">Inline Checkboxes</label>
                                        <div class="checkbox-inline">
                                            <label class="checkbox checkbox-outline">
                                                <input type="checkbox" />
                                                <span></span>
                                                Option 1
                                            </label>
                                            <label class="checkbox checkbox-outline">
                                                <input type="checkbox" />
                                                <span></span>
                                                Option 2
                                            </label>
                                            <label class="checkbox checkbox-outline">
                                                <input type="checkbox" />
                                                <span></span>
                                                Option 3
                                            </label>
                                        </div>
                                        <div class="invalid-feedback">Success! You've done it.</div>
                                        <span class="form-text text-muted">Example help text that remains unchanged.</span>
                                    </div>
                                    <div class="form-group validated">
                                        <label class="form-control-label">Inline Radios</label>
                                        <div class="radio-inline">
                                            <label class="radio">
                                                <input type="radio" />
                                                <span></span>
                                                Option 1
                                            </label>
                                            <label class="radio">
                                                <input type="radio" />
                                                <span></span>
                                                Option 2
                                            </label>
                                            <label class="radio">
                                                <input type="radio" />
                                                <span></span>
                                                Option 3
                                            </label>
                                        </div>
                                        <div class="invalid-feedback">Success! You've done it.</div>
                                        <span class="form-text text-muted">Example help text that remains unchanged.</span>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-success font-weight-bold mr-2">Submit</button>
                                    <button type="submit" class="btn btn-light-success font-weight-bold">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


